@font-face {
    font-family: 'antonregular';
    src: url('/fonts/anton-regular/anton-regular-webfont.woff2') format('woff2'),
        url('/fonts/anton-regular/anton-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /* background color vars */
    --primary-background-color: 23, 25, 35;
    --secondary-background-color: 37, 42, 55;
    --tertiary-background-color: 81, 85, 95;

    /* text color vars */
    --primary-text-color: 252, 253, 255;

    /* Headings */
    --primary-heading-color: 255, 45, 32;
    --secondary-heading-color: 255, 77, 156;


    /* border color vars */
    --primary-border-color: 30, 30, 30;

    /* hover opacity animations */
    --opacity-value-60: .6 !important;
    --opacity-value-50: .5 !important;
    --opacity-value-30: .3 !important;
    --opacity-value-20: .2 !important;
    --opacity-value-10: .1 !important;
    --opacity-value-0: .0 !important;
}

body {
    font-family:
        antonregular,
        Arial;
    background-color: rgba(var(--primary-background-color), 1) !important;
    color: rgba(var(--primary-text-color), 1) !important;

    margin: 0px !important;
    /* padding: 1.5rem !important; */
    padding-top: 0px !important;

    transition: background-color .5s;
}

/* clasify btn class && custom btn classes */
.btn {
    border-radius: 0px !important;
    margin: auto !important;
}

.btn-custom {
    width: 100%;
    display: inline-block;
    background-color: transparent;
    color: rgba(var(--primary-text-color), 1);
    border: 1px solid rgba(var(--primary-text-color), 1);

    transition: all .5s ease;
}

.btn-custom:hover {
    background-color: rgba(var(--primary-text-color), 1);
    color: rgba(var(--secondary-background-color), 1);
    border: 1px solid rgba(var(--primary-text-color), 1);

}

.btn-add {
    width: 200px;
    display: inline-block;
    background-color: transparent;
    color: rgba(var(--primary-text-color), 1);
    border: 1px solid rgba(var(--primary-text-color), 1);

    transition: all .5s ease;
}

.btn-add:hover {
    background-color: rgba(var(--primary-text-color), 1);
    color: rgba(var(--secondary-background-color), 1);
    border: 1px solid rgba(var(--primary-text-color), 1);

}

.btn-delete {
    width: 80px;
    display: inline-block;
    background-color: transparent;
    color: rgba(var(--primary-text-color), 1);
    border: 1px solid rgba(var(--primary-text-color), 1);

    transition: all .5s ease;
}

.btn-delete:hover {
    background-color: rgba(var(--primary-text-color), 1);
    color: black;
    border: 1px solid rgba(var(--primary-text-color), 1);

}

h1 {
    text-transform: uppercase;
    font-size: 500%;
    /* color: rgba(var(--secondary-background-color), 1); */
    color: rgba(var(--primary-heading-color), 1);
    /* text-shadow:
        -1px -1px 0px rgba(var(--primary-text-color), var(--opacity-value-30)),
        6px 6px 0px rgba(var(--primary-heading-color), var(--opacity-value-10)),
        4px 4px 0px rgba(var(--primary-heading-color), var(--opacity-value-30)),
        2px 2px 0px rgba(var(--primary-heading-color), var(--opacity-value-60)); */
}

h2,
h3,
h4 {
    text-transform: capitalize;
    color: rgba(var(--primary-heading-color), 1);
}

h2 {
    font-size: 300%;
}

h3 {
    font-size: 200%;
}

h4 {
    font-size: 150%;
}

p {
    font-family: arial;
}

hr {
    border-color: rgba(var(--primary-text-color), 1);
}

.container-inner>a {
    padding: 2px;
    color: rgba(var(--primary-heading-color), var(--opacity-value-60));
    transition: .5s all;
    /* border: 1px solid transparent; */
    border-bottom: 1px solid rgba(var(--primary-heading-color), 1);
}

.container-inner>a:hover {
    color: rgba(var(--primary-heading-color), 1);
    text-decoration: none;
}

/* body content variables */
.body-content {
    overflow: hidden;
    padding: 1rem !important;
    padding-top: 0px;
    margin-top: 1rem;
    width: 80%;
    min-height: 70vh;
}

.container-inner {
    display: inline-block;
    width: 100%;
    margin-bottom: 4rem;
}

.container-inner>img {
    width: 50%;
    max-width: 60%;
}

.codeindent {
    background-color: rgba(var(--tertiary-background-color), var(--opacity-value-30));
    padding: .20rem;
    color: rgba(var(--secondary-heading-color), .9);
}

.site_header{
    width: 100%;
    margin: 50px auto;
    text-align: center;
}

.form{
    width: 100%;
    margin: 100px auto;
    text-align: center;
}

.form label{
    font-size: 25px;
}

.form input{
    width: 400px;
    height: 50px;
    text-align: center;
}
/***************************************************
 * Generated by SVG Artista on 1/25/2022, 2:12:02 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/
@-webkit-keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 52.542686462402344px;
        stroke-dasharray: 52.542686462402344px;
    }

    100% {
        stroke-dashoffset: 105.08537292480469px;
        stroke-dasharray: 52.542686462402344px;
    }
}

@keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 52.542686462402344px;
        stroke-dasharray: 52.542686462402344px;
    }

    100% {
        stroke-dashoffset: 105.08537292480469px;
        stroke-dasharray: 52.542686462402344px;
    }
}

@-webkit-keyframes animate-svg-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgba(var(--primary-heading-color), 1) !important;
    }
}

@keyframes animate-svg-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgba(var(--primary-heading-color), 1) !important;
    }
}

.svg-elem-1 {
    -webkit-animation: animate-svg-stroke-1 2s ease-out 0s both, animate-svg-fill-1 2s ease-in 2s both;
    animation: animate-svg-stroke-1 2s ease-out 0s both, animate-svg-fill-1 2s ease-in 2s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
    0% {
        stroke-dashoffset: 52.542686462402344px;
        stroke-dasharray: 52.542686462402344px;
    }

    100% {
        stroke-dashoffset: 105.08537292480469px;
        stroke-dasharray: 52.542686462402344px;
    }
}

@keyframes animate-svg-stroke-2 {
    0% {
        stroke-dashoffset: 52.542686462402344px;
        stroke-dasharray: 52.542686462402344px;
    }

    100% {
        stroke-dashoffset: 105.08537292480469px;
        stroke-dasharray: 52.542686462402344px;
    }
}

@-webkit-keyframes animate-svg-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgba(var(--primary-heading-color), 1) !important;
    }
}

@keyframes animate-svg-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgba(var(--primary-heading-color), 1) !important;
    }
}

.svg-elem-2 {
    -webkit-animation: animate-svg-stroke-2 2s ease-out 0.12s both,
        animate-svg-fill-2 2s ease-in 2.12s both;
    animation: animate-svg-stroke-2 2s ease-out 0.12s both,
        animate-svg-fill-2 2s ease-in 2.12s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
    0% {
        stroke-dashoffset: 1376.0372314453125px;
        stroke-dasharray: 1376.0372314453125px;
    }

    100% {
        stroke-dashoffset: 2752.074462890625px;
        stroke-dasharray: 1376.0372314453125px;
    }
}

@keyframes animate-svg-stroke-3 {
    0% {
        stroke-dashoffset: 1376.0372314453125px;
        stroke-dasharray: 1376.0372314453125px;
    }

    100% {
        stroke-dashoffset: 2752.074462890625px;
        stroke-dasharray: 1376.0372314453125px;
    }
}

.svg-elem-3 {
    -webkit-animation: animate-svg-stroke-3 2s ease-out 0.24s both,
        animate-svg-fill-3 2s ease-in 2.24s both;
    animation: animate-svg-stroke-3 2s ease-out 0.24s both,
        animate-svg-fill-3 2s ease-in 2.24s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
    0% {
        stroke-dashoffset: 1297.9619140625px;
        stroke-dasharray: 1297.9619140625px;
    }

    100% {
        stroke-dashoffset: 2595.923828125px;
        stroke-dasharray: 1297.9619140625px;
    }
}

@keyframes animate-svg-stroke-4 {
    0% {
        stroke-dashoffset: 1297.9619140625px;
        stroke-dasharray: 1297.9619140625px;
    }

    100% {
        stroke-dashoffset: 2595.923828125px;
        stroke-dasharray: 1297.9619140625px;
    }
}

@-webkit-keyframes animate-svg-fill-4 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgba(var(--primary-heading-color), 1) !important;
    }
}

@keyframes animate-svg-fill-4 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgba(var(--primary-heading-color), 1) !important;
    }
}

.svg-elem-4 {
    -webkit-animation: animate-svg-stroke-4 2s ease-out 0.36s both,
        animate-svg-fill-4 2s ease-in 2.36s both;
    animation: animate-svg-stroke-4 2s ease-out 0.36s both,
        animate-svg-fill-4 2s ease-in 2.36s both;
}

@-webkit-keyframes animate-svg-stroke-5 {
    0% {
        stroke-dashoffset: 1297.9619140625px;
        stroke-dasharray: 1297.9619140625px;
    }

    100% {
        stroke-dashoffset: 2595.923828125px;
        stroke-dasharray: 1297.9619140625px;
    }
}

@keyframes animate-svg-stroke-5 {
    0% {
        stroke-dashoffset: 1297.9619140625px;
        stroke-dasharray: 1297.9619140625px;
    }

    100% {
        stroke-dashoffset: 2595.923828125px;
        stroke-dasharray: 1297.9619140625px;
    }
}

.svg-elem-5 {
    -webkit-animation: animate-svg-stroke-5 2s ease-out 0.48s both,
        animate-svg-fill-5 2s ease-in 2.48s both;
    animation: animate-svg-stroke-5 2s ease-out 0.48s both,
        animate-svg-fill-5 2s ease-in 2.48s both;
}


/***************************************************
 * Generated by SVG Artista on 1/25/2022, 5:47:19 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-logo-stroke-1 {
    0% {
        stroke-dashoffset: 8735.5693359375px;
        stroke-dasharray: 8735.5693359375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 8735.5693359375px;
    }
}

@keyframes animate-logo-stroke-1 {
    0% {
        stroke-dashoffset: 8735.5693359375px;
        stroke-dasharray: 8735.5693359375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 8735.5693359375px;
    }
}

.logo-elem-1 {
    -webkit-animation: animate-logo-stroke-1 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
        animate-logo-fill-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s both;
    animation: animate-logo-stroke-1 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
        animate-logo-fill-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s both;
}

@-webkit-keyframes animate-logo-stroke-2 {
    0% {
        stroke-dashoffset: 2175.356201171875px;
        stroke-dasharray: 2175.356201171875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 2175.356201171875px;
    }
}

@keyframes animate-logo-stroke-2 {
    0% {
        stroke-dashoffset: 2175.356201171875px;
        stroke-dasharray: 2175.356201171875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 2175.356201171875px;
    }
}

@-webkit-keyframes animate-logo-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgba(var(--primary-heading-color), 1) !important;
    }
}

@keyframes animate-logo-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgba(var(--primary-heading-color), 1) !important;
    }
}

.logo-elem-2 {
    -webkit-animation: animate-logo-stroke-2 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s both,
        animate-logo-fill-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s both;
    animation: animate-logo-stroke-2 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s both,
        animate-logo-fill-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s both;
}

/* inputs */

input[type='text'],
input[type='password'],
input[type='username'],
input[type='email'] {
    font-family: Arial;
    border: none;
    border-bottom: 2px solid rgba(var(--primary-heading-color), 1);
    background-color: transparent;
    border-radius: 0px !important;
    color: rgba(var(--primary-text-color), 1);
    transition: all .5s ease;
}

input[type='text']:hover,
input[type='password']:hover,
input[type='username']:hover,
input[type='email']:hover,
input[type='text']:active,
input[type='password']:active,
input[type='username']:active,
input[type='email']:active,
input[type='text']:focus,
input[type='password']:focus,
input[type='username']:focus,
input[type='email']:focus {
    border: none;
    border-bottom: 2px solid rgba(var(--primary-heading-color), 1);
    background-color: transparent;
    color: rgba(var(--primary-text-color), 1);
    -webkit-box-shadow:
        5px 5px 0px 0px rgba(var(--primary-heading-color), var(--opacity-value-60)),
        10px 10px 0px 0px rgba(var(--primary-heading-color), var(--opacity-value-30)),
        15px 15px 0px 0px rgba(var(--primary-heading-color), var(--opacity-value-10));
    box-shadow:
        5px 5px 0px 0px rgba(var(--primary-heading-color), var(--opacity-value-60)),
        10px 10px 0px 0px rgba(var(--primary-heading-color), var(--opacity-value-30)),
        15px 15px 0px 0px rgba(var(--primary-heading-color), var(--opacity-value-10));
}


/* body tables */
.table_custom {
    font-family: Arial;
}

.table_custom>th{
    width:auto !important;
}

table.dataTable tbody tr{
    color: rgba(var(--primary-text-color), 1) !important;
    background-color: transparent !important;
}

.dataTables_length>label>select, .dataTables_filter>label{
    font-family: Arial;
    color: rgba(var(--primary-text-color), 1) !important;
    background-color: transparent !important;
}

.dataTables_length>label>select>option, .dataTables_filter>label>input{
    font-family: Arial;
    color: rgba(var(--primary-text-color), 1) !important;
    background-color: rgba(var(--primary-background-color), 1) !important;
}


.paginate_button:hover{
    background-color: transparent !important;
}
